/* 
    Document   : default
    Created on : Sep 28, 2013, 6:42:13 PM
    Author     : jonforest
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.link {
    font-size: 16px;
    padding: 5px;
}


.done {
    color: grey;
}
.table tbody tr:hover td {
  background-color: #AABBFF;
}


.verticalseparator {
    height: 50px;
}

#notes {
    height: 300px;
}

.content {
    height:300px;
}

.editting {
    border: 2px solid #fbed50;
}

